@import "tailwindcss";

@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Host Grotesk", Avenir, Helvetica, Arial, sans-serif;

  --primary-color: #b35656;
  --background: #fbf8f1;
  --foreground: #211010;
  --foreground-muted: #583636;
}

.dark {
  --primary-color: #e07a7a;
  --background: #121212;
  --foreground: #e8c4c4;
  --foreground-muted: #a0a0a0;
  --card-bg: #1e1e1e;
}

@theme {
  --color-primary: var(--primary-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-card: var(--card-bg);

  --font-serif: "Instrument Serif", serif;
  --font-mono: "Fragment Mono", monospace;
}

body {
  background-color: var(--background);
  color: var(--foreground-muted);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:not(.no-transitions) body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--color-foreground);
}
